header{
    /* позиционирование */
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;

    /* цвет и картинки */
    background-color: rgb(122, 85, 3);

    /* текст */
    text-align: center;
    
}
body{
    /* цвет и картинки */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
footer{
    /* позиционирование */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    
    /* цвет и картинки */ 
    background-color: rgb(122, 85, 3);
    
    /* текст */
    text-align: center;
    
}